<div class="container-fluid" style="width: 100%;">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="form-label col-sm-3" for="">Available .gitignore Templates: </label>
            <select class="form-select col-sm-3" #gitIgnoreTemplateSelect (change)="onChange(gitIgnoreTemplateSelect.value)" [(ngModel)]="selectedTemplate.name" class="dropdown" ngModel name="gitIgnoreTemplates" id="gitIgnoreTemplates">
              <option *ngFor="let template of gitIgnoreTemplates" [value]="template">{{ template }}</option>
            </select>
            <span class="" *ngIf="selectedTemplate.name === ''">Select a Template Name</span>
          </div>
        </div>
      <div class="col-xs-12">
        <textarea class="form-control col-sm-12" style="min-width: 100%; font-family: monospace" *ngIf="selectedTemplate" rows="20" readonly>{{ selectedTemplate.source }}</textarea>
      </div>
    </div>
  </div>
</div>
