<label for="">Available .gitignore Templates: </label>
<select
  #gitIgnoreTemplateSelect
  (change)="onChange(gitIgnoreTemplateSelect.value)"
  [(ngModel)]="selectedTemplate.name"
  class="dropdown"
  ngModel
  name="gitIgnoreTemplates"
  id="gitIgnoreTemplates"
>
  <option
    class="dropdown-item"
    *ngFor="let template of gitIgnoreTemplates"
    [value]="template"
  >
    {{ template }}
  </option>
</select>
<div class="col-xs-12">
  <p *ngIf="!selectedTemplate">Select a Template Name</p>
  <h4 *ngIf="selectedTemplate">
    Current Template: {{ selectedTemplate.name }}
  </h4>
  <textarea
    class="green-border-focus"
    style="min-width: 100%; font-family: monospace"
    *ngIf="selectedTemplate"
    rows="20"
    readonly
    >{{ selectedTemplate.source }}</textarea
  >
</div>
