<div class="container-fluid" style="width: 100%">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <app-content-header></app-content-header>
      <hr />
      <!-- NOTE: bootstrap form layout: https://getbootstrap.com/docs/4.3/components/forms/?  -->
      <!-- TODO: add validation to controls -->
      <!-- TODO: change to password and add 'show' toggle  -->
      <!-- TODO: determine be way to display the 'show/hide' functionality -->
      <!-- <button class="btn btn-xs btn-info">show</button> -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group row">
          <label for="appUserName" class="col-sm-2 col-form-label"
            >App User Name:</label
          >
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              id="appUsername"
              name="appUsername"
              [(ngModel)]="appUsersService.selectedAppUser.name"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="appAccessToken" class="col-sm-2 col-form-label"
            >Access Token:</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="appAccessToken"
              name="appAccessToken"
              [(ngModel)]="appUsersService.selectedAppUser.accessToken"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="appSecretKey" class="col-sm-2 col-form-label"
            >Secret Key:</label
          >
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              id="appSecretKey"
              name="appSecretKey"
              [(ngModel)]="appUsersService.selectedAppUser.secretKey"
            />
          </div>
          <div class="form-check col-sm-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="persistSecretKey"
                name="persistSecretKey"
                [(ngModel)]="appUsersService.selectedAppUser.persistSecretKey"
              />
              <label class="form-check-label" for="persistSecretKey"
                >Persists Secret Key</label
              >
            </div>
          </div>
        </div>
        <!-- Button Actions -->
        <div class="form-group" style="margin-top: 15px">
          <button
            [disabled]="f.valid"
            class="btn btn-primary"
            (click)="onNewUser()"
            type="button"
          >
            New User
          </button>
          <button [disabled]="!f.valid" class="btn btn-primary" type="submit">
            Save User
          </button>
          <button
            [disabled]="appUsersService.selectedAppUser.name !== ''"
            class="btn btn-danger"
            type="button"
            (click)="onDeleteUser()"
          >
            Delete User
          </button>
        </div>
      </form>
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">App User Name</th>
            <th scope="col">Access Token</th>
            <th scope="col">Secret Key</th>
            <th scope="col">Persist Secret Key</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appUser of appUsersService.appUsers">
            <th scope="row">{{ appUser.name }}</th>
            <td>{{ appUser.accessToken }}</td>
            <td>{{ appUser.secretKey }}</td>
            <td>{{ appUser.persistSecretKey }}</td>
          </tr>

          <!-- <tr>
            <th scope="row">Brent Acs</th>
            <td>Some Access Token</td>
            <td>Some Secret Key</td>
            <td>true</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
