<div class="container-fluid" style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <app-content-header></app-content-header>
      <hr />
      <!-- NOTE: bootstrap form layout: https://getbootstrap.com/docs/4.3/components/forms/?  -->
      <!-- TODO: add validation to controls -->
      <!-- TODO: change to password and add 'show' toggle  -->
      <!-- TODO: determine be way to display the 'show/hide' functionality -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group row">
          <label for="userName" class="col-md-2 col-form-label"
            >App User Name:</label
          >
          <div class="col-md-4">
            <input
              [disabled]="!newUserMode"
              [(ngModel)]="userName"
              type="text"
              #name="ngModel"
              class="form-control"
              name="userName"
              id="userName"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="accessToken" class="col-md-2 col-form-label"
            >Access Token:</label
          >
          <div class="col-md-8">
            <input
              [disabled]="!newUserMode"
              [(ngModel)]="accessToken"
              type="text"
              class="form-control"
              id="accessToken"
              name="accessToken"
              #appAccessToken
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="secretKey" class="col-md-2 col-form-label"
            >Secret Key:</label
          >
          <div class="col-md-4">
            <input
              [disabled]="!newUserMode"
              [(ngModel)]="secretKey"
              type="text"
              class="form-control"
              id="secretKey"
              name="secretKey"
              #appSecretKey
            />
          </div>
          <div class="form-check col-md-4">
            <div class="form-check">
              <input
                [disabled]="!newUserMode"
                [(ngModel)]="persistSecretKey"
                [ngModelOptions]="{ standalone: true }"
                class="form-check-input"
                type="checkbox"
                id="persistSecretKey"
                name="persistSecretKey"
              />
              <label class="form-check-label" for="persistSecretKey"
                >Persists Secret Key</label
              >
            </div>
          </div>
        </div>
        <!-- Button Actions -->
        <div class="form-group" style="margin-top: 15px">
          <button
            [disabled]="newUserMode"
            class="btn btn-primary"
            (click)="onNewUser()"
            type="button"
          >
            New User
          </button>
          <button
            [disabled]="!newUserMode && !f.valid"
            class="btn btn-primary"
            type="submit"
          >
            Save User
            <!-- - f.valie='{{f.valid}}', newUserMode='{{newUserMode}}' -->
          </button>
          <button
            [disabled]="!canDeleteUser()"
            class="btn btn-danger"
            type="button"
            (click)="onDeleteUser()"
          >
            Delete User
          </button>
        </div>
      </form>
      <hr />
      <!-- Users Table -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Access Token</th>
            <th scope="col">Secret Key</th>
            <th scope="col">Persist</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appUser of appUsersService.appUsers">
            <th scope="row">{{ appUser.name }}</th>
            <td>{{ appUser.accessToken }}</td>
            <td>{{ appUser.secretKey }}</td>
            <td>{{ appUser.persistSecretKey }}</td>
            <td>
              <button class="btn btn-primary btn-md" type="button">Edit</button>
              <button class="btn btn-danger btn-md" type="button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
