<div class="container">
  <div class="row">
    <div class="col-xs-12">
      Gotch Ur Github
    </div>
    <div class="col-xs-12">
      <label for="" class="sbw_light">.gitignore Templates</label>
      <select
        class="dropdown"
        name=""
        id="">
        <option
          [ngModel]="gitIgnoreTemplates"
          #gitIgnoreTemplates
          *ngFor="let template of gitIgnoreTemplates"
          [value]="template">{{ template }}</option>
      </select>
      <button
        (click)="onUpdateGitIgnores()"
        class="btn btn-primary">Update</button>
    </div>
  </div>
</div>


<!-- <select [(ngModel)]="selected" name="status" placeholder="select" (ngModelChange)="onOptionsSelected()">
        <option *ngFor="let sta of status" [ngValue]="sta">{{sta}}</option>
    </select>
<div>
  {{filtered|json}}
</div> -->
