<ul class="nav nav-tabs flex-column nav-pills" role="tablist">
  <li>
    <a
      class="nav-link list-group-item clearfix active"
      style="cursor: pointer"
      data-toggle="pill"
      role="presentation"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
  </li>
  <li>
    <a
      class="nav-link list-group-item clearfix"
      style="cursor: pointer"
      data-toggle="pill"
      role="presentation"
      routerLinkActive="active"
      routerLink="/users"
      >Users</a
    >
  </li>
  <li role="presentation" routerLinkActive="active">
    <a
      class="nav-link list-group-item clearfix"
      style="cursor: pointer"
      data-toggle="pill"
      role="presentation"
      routerLinkActive="active"
      routerLink="repos"
      >Repos</a
    >
  </li>
  <li role="presentation" routerLinkActive="active">
    <a
      class="nav-link list-group-item clearfix"
      style="cursor: pointer"
      data-toggle="pill"
      role="presentation"
      routerLinkActive="active"
      routerLink="gitignore-templates"
      >GitIgnore Templates</a
    >
  </li>
</ul>
