<div class="container-sm-fluid" style="width: 100%">
  <div class="row">
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        id="v-pills-home-tab"
        data-toggle="pill"
        href="#v-pills-home"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        aria-selected="true"
        >Home</a
      >
      <a
        class="nav-link"
        id="v-pills-uses-tab"
        data-toggle="pill"
        href="#v-pills-profile"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        >Users</a
      >
      <a
        class="nav-link"
        id="v-pills-repos-tab"
        data-toggle="pill"
        href="#v-pills-messages"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        >Repos</a
      >
      <a
        class="nav-link"
        id="v-pills-gitignore-templates-tab"
        data-toggle="pill"
        href="#v-pills-settings"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
        >GitIgnore Templates</a
      >
    </div>

    <!-- <nav class="navbar bg-dark">
      <div class="btn-group navbar-nav">
        <button class="btn btn-link text-white">Home</button>
        <button class="btn btn-link text-white">Users</button>
        <button class="btn btn-link text-white">Repos</button>
        <button class="btn btn-link text-white">GitIgnore Templates</button>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link 3</a>
        </li>
      </ul>
    </nav> -->
  </div>
</div>




<!-- <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form> -->

<!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul> -->
