<div class="container-fluid" style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-row">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary form-control">
              Get User
            </button>
          </div>
          <br />
        </div>
        <div class="col-md-12">
          <textarea
            class="form-control col-md-12"
            style="min-width: 100%; font-family: monospace"
            rows="20"
            readonly
            name="userInfo"
            [(ngModel)]="userInfo"
          >
your use info here...</textarea
          >
        </div>

        <!-- <div class="input-group">
          <div class="col-md-2">
            <label for="appUserName" class="form-label">User Name:</label>
            <input
              type="text"
              class="form-control"
              id="appUsername"
              name="appUsername"
              class="pull-right"
              [ngModel]="appUser.name"
              required
            />
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
