<div class="form-group row">
  <div class="col-sm-3">
    Hello
    <span *ngIf="appUser.name">, {{ appUser.name }}</span>
    <span *ngIf="!appUser.name">, please sign in.</span>
  </div>
  <div class="form-check col-sm-9">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="useAccessToken"
        name="useAccessToken"
        [(ngModel)]="appSettings.useAccessToken"
        (change)="onUserAccessTokenChange($event)"
      />
      <label class="form-check-label" for="persistSecretKey"
        >Use Access Token in Requests.</label
      >
    </div>
  </div>
</div>
