<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      Hello<span *ngIf="appUser.name">, {{ appUser.name }}</span>
      <hr />
      <!-- TODO: add validation to controls -->
      <!-- TODO: align labels and make work prettier -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="input-group">
          <div class="col-xs-2">
            <label for="appUserName" class="form-label"
              >User Name:&nbsp;&nbsp;</label
            >
            <input
              type="text"
              class="form-control"
              id="appUsername"
              name="appUsername"
              class="pull-right"
              [(ngModel)]="appUser.name"
              required
            />
          </div>
        </div>
        <div class="input-group" style="margin-top: 15px">
          <label for="appAccessToken" class="form-label"
            >Access Token:&nbsp;&nbsp;</label
          >
          <input
            type="text"
            class="form-control"
            id="appAccessToken"
            name="appAccessToken"
            class="pull-right"
            [(ngModel)]="appUser.accessToken"
          />
        </div>
        <div class="input-group" style="margin-top: 15px">
          <label for="appSecretKey" class="form-label"
            >Secret Key:&nbsp;&nbsp;</label
          >
          <input
            type="text"
            class="form-control"
            id="appSecretKey"
            name="appSecretKey"
            class="pull-right"
            [(ngModel)]="appUser.secretKey"
          />&nbsp;&nbsp;
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="persistSecretKey"
              name="persistSecretKey"
              [(ngModel)]="appUser.persistSecretKey"
            />
            <label for="persistSecretKey" class="form-check-label"
              >Persists Secret Key&nbsp;&nbsp;</label
            >
            <span><small>&nbsp;&nbsp;* CAUTION: un-safe</small></span>
          </div>
        </div>
        <div class="input-group" style="margin-top: 15px">
          <button [disabled]="!f.valid" class="btn btn-primary" type="submit">
            Save User
          </button>
          <button class="btn btn-danger" type="button" (click)="onClearUser()">
            Clear User
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
